.app{
            display: flex;
            flex-direction:column;
            align-items: center;
}
.btn{
            width:30%;
            padding: 15px;
            font-size: larger;
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: lightgreen;
            color: green;
}
.animalList{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
}